<!DOCTYPE html>
<html xmlns:th="http://www.themeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />

<title>Formulaire d'edition des étudiants</title>
</head>

<body>
	<div class="col-md-6 col-xs-12 col-md-offset-3 spacer">
		<div class="panel panel-default">

			<div class="panel-heading">Edition d'un étudiant</div>

			<div class="panel-body">
				<form th:action="@{updateEtudiant}" method="post"
					th:object="${etudiant}" enctype="multipart/form-data">

					<div class="form-group">
						<label class="control-label">ID</label> <input
							class="form-control" type="text" name="id"
							placeholder="Votre ID" th:field="*{id}" /> <span
							class="text-danger" th:errors="*{id}"></span>
					</div>


					<div class="form-group">
						<label class="control-label">Nom</label> <input
							class="form-control" type="text" name="nom"
							placeholder="Votre nom" th:field="*{nom}" /> <span
							class="text-danger" th:errors="*{nom}"></span>
					</div>

					<div class="form-group">
						<label class="control-label">Date de Naissance</label> <input
							class="form-control" type="date" name="dateNaissance"
							th:field="*{dateNaissance}" /> <span class="text-danger"
							th:errors="*{dateNaissance}"></span>
					</div>

					<div class="form-group">
						<label class="control-label">Email</label> <input
							class="form-control" type="email" name="email"
							th:field="*{email}" /> <span class="text-danger"
							th:errors="*{email}"></span>

					</div>

					<div class="form-group">
						<label class="control-label">Photo</label> 
						<input class="form-control" type="file" name="picture" />
						<img class="img-circle" th:src="@{getPhoto(id=${etudiant.id})}"  width="100" height="100"  />

					</div>



					<div>
						<input class="btn btn-default" type="submit" value="Enregistrer" />
					</div>

				</form>
			</div>
		</div>

	</div>

</body>
</html>