<!DOCTYPE html>
<html xmlns:th="http://www.themeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />

<title>Template</title>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
   <li class="active"><a th:href="@{Index}">Home</a></li>
   <li class="active"><a th:href="@{Index}">Etudiants</a></li>
  </ul>
  
  </div>
</div>

<div layout:fragment="content">

</div>


</body>
</html>